//- include mashStep.jade
//- 
mixin fermentationProgram(programNumber)
    .stepTemplate.text-left(data-program-number=programNumber data-step-number=0)
        .row
            .small-6.large-2.columns
                .input-group
                    input.input-group-field(type="number" step="0.1" min="0.0" name="temperature" value="66.6")
                    span.input-group-label °C
            .small-6.large-2.columns
                .input-group
                    input.input-group-field(type="number" min="0" name="duration" value="60")
                    span.input-group-label min
            .small-12.large-8.columns
                input.middle(type="checkbox" name="ramp" id="stR")
                label.middle(for="stR") Ramp
        .row
            .small-12.large-12.columns
                a.addStepButton.button(href="#" data-next-step=1) + Add Step
