doctype html
html
    head
        title STC 1000+ Program Generator
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8") 
        title Jobs
        link(rel="stylesheet" href="css/foundation.min.css")
        link(rel="stylesheet" href="css/icons/foundation-icons.css")
        link(rel="stylesheet" href="css/app.css")
    body
        div.row
            div.small-1.columns
            div.small-10.columns
                h2 STC 1000+ Program Generator
            div.small-1.columns

        div.row
            div.small-1.columns
            div.small-10.columns
                block content
            div.small-1.columns

        div.row
            div.small-1.columns
            div.small-10.columns
                p Copyright © TroyP
            div.small-1.columns

        script(src="js/vendor/jquery.js")
        script(src="js/vendor/foundation.min.js")
        script(src="js/app.js")
